@font-face {
  font-family: "iconfont"; /* Project id 2623390 */
  src: url('iconfont.woff2?t=1624261834630') format('woff2'),
       url('iconfont.woff?t=1624261834630') format('woff'),
       url('iconfont.ttf?t=1624261834630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-winWindows:before {
  content: "\e603";
}

